/* Fonts locais para funcionar offline.
   Nota: se substituíres estes .woff2 por versões reais, a tipografia fica igual à online. */

@font-face {
  font-family: "Stardos Stencil";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/StardosStencil-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Stardos Stencil";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/StardosStencil-Bold.woff2") format("woff2");
  font-display: swap;
}
